:root {
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size: 18px;
  --line-height: 1.6;
  --rhythm-spacing: 1.6rem;
  --color-primary: #FDCFF3;
  --color-page-accent: #fff9fe;
  --color-black: #070707;
}

html
{
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body
{
  background-color: var(--color-page-accent);
  color: var(--color-black);
  font-family: var(--font-family);
  margin: 0;
  overflow-wrap: break-word;
  tab-size: 4;
  text-rendering: optimizeLegibility;
  word-break: keep-all;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 100;
  letter-spacing: 0.08rem;
  margin: 0 0 var(--rhythm-spacing) 0;
}

h1
{
  font-size: 2.488rem;
}

h2
{
  font-size: 2.074rem;
}

h3
{
  font-size: 1.728rem;
}

h4
{
  font-size: 1.44rem;
}

h5
{
  font-size: 1.2rem;
}

h6
{
  font-size: 1rem;
}

/* Text Content */
a, a:visited {
  text-decoration: none;
  transition: 0.5s;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: 600;
}

strong {
  letter-spacing: 0.08rem;
}

small
{
  font-size: 0.8rem;
}

sub, sup
{
  position: relative;
  line-height: 0;
  font-size: 0.694rem;
}

sub
{
  bottom: -0.1rem;
}

sup
{
  top: -0.1rem;
}

p, ol, ul, figure, hr, dl {
  margin: 0 0 var(--rhythm-spacing) 0;
  font-weight: 200;
  letter-spacing: 0.02rem;
}

ul > ol, ol > ul {
  margin-bottom: 0;
}

ul, ol {
  padding-left: 0.8rem;
}

li::marker {
  color: var(--color-primary);
  font-weight: 100;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: upper-roman;
}

pre, kbd, samp, code, var
{
  font-family: var(--font-family-mono);
}

blockquote, code {
  border-left: 1px solid var(--color-primary);
  padding: calc(var(--rhythm-spacing)/2) 0 calc(var(--rhythm-spacing)/2) var(--rhythm-spacing);
  margin: 0 0 var(--rhythm-spacing) 0;
}

code {
  display: block;
  background-color: var(--color-page-accent);
}

blockquote
{
  font-weight: 100;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  font-style: oblique;
}

q {
  letter-spacing: 0.02rem;
  font-style: italic;
  font-weight: 200;
}

q::before, q::after {
  color: var(--color-primary)
}

hr
{
  margin: 0 auto var(--rhythm-spacing) auto;
  border: 0;
  border-top: 1px solid var(--color-primary);
  width: 21ch;
}

img, video
{
  height: auto;
  width: 100%;
  margin-top: 0;
  margin-bottom: var(--rhythm-spacing);
}

abbr[title]
{
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
  text-decoration-style: dotted;
}

fieldset
{
  padding: 0.35em 0.75em 0.625em;
}

button, input, optgroup, select, textarea
{
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 200;
  line-height: var(--line-height);
  text-transform: none;
  margin: 0;
}

legend
{
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

details:last-of-type {
  margin: 0 0 var(--rhythm-spacing) 0;
}

details > summary {
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.08rem;
  border-bottom: 1px solid var(--color-primary);
}

summary::before {
  color: var(--color-primary);
  transition: 0.5s;
  content: '\003E';
  font-size: 1.2rem;
  margin-right: calc(var(--rhythm-spacing)/2);
  display: inline-block;
  transition: 0.1s;
}

details[open] summary::before {
  transform: rotate(90deg);
}

details[open] > summary {
  border-bottom: none;
}

details[open] {
  border-bottom: 1px solid var(--color-primary);
}

details > p {
  margin-bottom: 0;
  transition: 0.5s;
  padding-left: 30px;
  background-color: var(--color-page-accent);
}

/* A nice table element */
table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;
  margin: 0 0 var(--rhythm-spacing) 0;
}

td, th {
  padding: calc(var(--rhythm-spacing)/2);
  line-height: var(--line-height);
  border: 0;
}

th {
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  font-weight: 100;
}

td {
  font-weight: 200;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-page-accent);
}

input, textarea {
  margin: 0 0 var(--rhythm-spacing) 0;
  line-height: var(--line-height);
  align-self: center;
  border: 2px solid var(--color-page-accent);
  -webkit-transition: 0.5s;
  width: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  outline: none;
}

input:focus, textarea:focus {
  border: 2px solid var(--color-primary);
}

button {
  background-color: var(--color-page-accent);
  border: 2px solid var(--color-primary);
  padding: 0.5rem;
  transition-duration: 0.5s;
}

button:hover {
  background-color: var(--color-primary);
}