header {
    width: 100%;
}

footer {
    width: 100%;
}

main {
    background-color: #ffffff;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    max-width: 70ch;
}

/* responsive should handle width below certain point */
/* Font size becomes 16px */